# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code workspace settings
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Backup & crash files
*.bak
*.tmp
*.log

# Resharper
_ReSharper*/
*.DotSettings.user

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
*.vspscc
*.vssscc
*.dbmdl
*.pdb
*.cache
*.ide

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/