<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GUI_GT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GUI_GT.Properties.Settings.bd_sagtConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\bd_sagt.mdb"
            providerName="System.Data.OleDb" />
        <add name="GUI_GT.Properties.Settings.bd_sagtConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\bd_sagt.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <GUI_GT.Properties.Settings>
            <setting name="GUI_TG_MenPasWS_SagtW" serializeAs="String">
                <value>http://www.menpas.com/SagtW.asmx</value>
            </setting>
        </GUI_GT.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
